<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" parallel="none">
    <test name="FireFox tests ">
            <parameter name = "browser" value="firefox"/>
            <classes>
                <class name = "FirstTest"/>
            </classes>
    </test>
    <test name="Chrome tests ">
        <parameter name = "browser" value="chrome"/>
        <classes>
            <class name = "FirstTest"/>
        </classes>
    </test>
    <test name="IE tests ">
        <parameter name = "browser" value="IE"/>
        <classes>
            <class name = "FirstTest"/>
        </classes>
    </test>

</suite>